<ng-template #scroller>
    <cdk-virtual-scroll-viewport itemSize="autosize" class="post-feed-viewport">
        <ul role="list">
            <li *cdkVirtualFor="let item of data; index as index;" class="relative py-4">
              <!--feed post container: critical for sizing post components-->
              <div class="relative">
                <div class="w-full md:p-10 lg:border-2 lg:border-zinc-800 rounded hover:bg-zinc-800" >
                  <post-scalar [post]="item"></post-scalar>
                </div>
              </div>
            </li>
        </ul>

    </cdk-virtual-scroll-viewport>
</ng-template>

<!--implementation-->
<div postFeedDatabinder [feedPostType]="'stateless'" (dataRetrieved)="onDataRetrieved($event)">
    <div>
      <ng-container *ngTemplateOutlet="scroller"></ng-container>
    </div>
</div>

