<ng-template #scroller>
    <cdk-virtual-scroll-viewport itemSize="autosize" class="post-feed-viewport">
        <ul role="list" class="divide-y divide-gray-200">
            <li *cdkVirtualFor="let item of data; index as index;" class="relative py-4">
              Hello
            </li>
        </ul>

    </cdk-virtual-scroll-viewport>
</ng-template>

<!--implementation-->
<div postFeedDatabinder [feedPostType]="'stateless'" (dataRetrieved)="onDataRetrieved($event)">
    <div>
      <ng-container *ngTemplateOutlet="scroller"></ng-container>
    </div>
</div>

