<ng-template #posterAvatar>
    <post-scalar-avatar
        [publicKey]="post.PosterPublicKeyBase58Check"
        [desoUserName]="post.ProfileEntryResponse.Username">
    </post-scalar-avatar>
</ng-template>

<ng-template #postBody>
    <post-scalar-body
        [postBody]="post.Body"
    ></post-scalar-body>
</ng-template>

<ng-template #postImage>
    <post-scalar-image
        [imageUri]="post.ImageURLs[0]">
    </post-scalar-image>
</ng-template>

<ng-template #repost>
    <post-repost-wrapper
        [post]="post">
    </post-repost-wrapper>
</ng-template>


<!--implementation-->
<!--post contents-->
<div *ngIf="post">

        <!--Section :: Avatar and Info-->
        <div *ngIf="post.PosterPublicKeyBase58Check" class="mx-4 py-4">
            <ng-container *ngTemplateOutlet="posterAvatar"></ng-container>
        </div>

        <div class="mx-4 sm:mx-28 block">
            <!--Section :: Post Body -->
            <div class="py-5">
                <ng-container *ngTemplateOutlet="postBody"></ng-container>
            </div>
            

            <!--Section :: Image-->
            <div class="aspect-w-3 aspect-h-2 sm:aspect-w-5 lg:aspect-none lg:w-1/2 lg:h-full lg:pr-4 xl:pr-16" *ngIf="post.ImageURLs && post.ImageURLs.length > 0">
                <ng-container *ngTemplateOutlet="postImage"></ng-container>
            </div>

            <!--Section :: Repost-->
            <div *ngIf="post.RepostedPostEntryResponse" class="mb-5 border-t-2 sm:border-t-0 border-zinc-800">
                <div>
                    <ng-container *ngTemplateOutlet="repost"></ng-container>
                </div>
            </div>

        </div>
    



</div>

