<ng-template #navigation>
  <global-top-nav (mobileMenuToggled)="onMobileMenuToggled()"></global-top-nav>
</ng-template>

<div class="relative">
  <ng-container *ngTemplateOutlet="navigation"></ng-container>
</div> 

<!-- Identity service / storage access request -->
<iframe
  id="identity"
  [src]="identityService.sanitizedIdentityServiceURL"
  frameborder="0"
  class="global__iframe"
  [style.display]="globalVars.requestingStorageAccess ? 'block' : 'none'"
></iframe>

<!--p-0 is important here. Mobile UIs expect that there's no side padding.-->
<div
  class="p-0"
  [ngClass]="globalVars.userIsDragging ? 'unselectable' : ''"
  *ngIf="!globalVars.requestingStorageAccess"
 >
  <router-outlet *ngIf="!globalVars.loadingInitialAppState"></router-outlet>
  <simple-center-loader *ngIf="globalVars.loadingInitialAppState"></simple-center-loader>
</div>
