 <router-outlet></router-outlet>


  
    <main class="relative">
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <!-- Replace with content -->
        <div class="mx-auto">
          <div class="h-2/4 overflow-y-scroll">
            <!--TESTING POST FEED-->
            <div class="max-w-7xl px-6 lg:px-8">
              <post-feed [feedPostType]="'stateless'"></post-feed>
            </div>
          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  
