

<ng-template #posterAvatar>
    <post-scalar-avatar
        [publicKey]="repost.PosterPublicKeyBase58Check"
        [desoUserName]="repost.ProfileEntryResponse.Username">
    </post-scalar-avatar>
</ng-template>

<ng-template #postBody>
    <post-scalar-body
        [postBody]="repost.Body"
    ></post-scalar-body>
</ng-template>

<ng-template #postImage>
    <post-scalar-image
        [imageUri]="repost.ImageURLs[0]">
    </post-scalar-image>
</ng-template>

<!--implementation-->
<div *ngIf="repost">
    <div class="dark:bg-zinc-900 rounded lg:border-2 lg:border-zinc-800">

        <!--Section :: Avatar and Info-->
        <div *ngIf="post.PosterPublicKeyBase58Check" class="mx-4 py-4">
            <ng-container *ngTemplateOutlet="posterAvatar"></ng-container>
        </div>

        <div class="mx-4 sm:mx-28">
            <!--Section :: Post Body -->
            <div class="py-5">
                <ng-container *ngTemplateOutlet="postBody"></ng-container>
            </div>
            

            <!--Section :: Image-->
            <div class="rounded shadow-lg py-5 lg:max-w-lg lg:max-h-fit" *ngIf="repost.ImageURLs && repost.ImageURLs.length > 0">
                <ng-container *ngTemplateOutlet="postImage"></ng-container>
            </div>

        </div>

    </div>
</div>
